$size: 1rem;

$padding: 1rem;
$margin: 1rem;

//tablet breakpoints

$t-min-width: 768px;
$t-max-width: 1279px;

//desktop breakpoint
$d-min-width: 1280px;

$search: url("../../assets/Icons/Icon-search.svg");
$likeIcon: url("../../assets/Icons/Icon-likes.svg");
$views: url("../../assets/Icons/Icon-views.svg");