@font-face{
    font-family: "Avenir";
    src: url("../assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Light.otf"), format("embedded-opentype");
    font-weight: 200;
}

@font-face{
    font-family: "Avenir";
    src: url('../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Thin.otf'), format("embedded-opentype");
    font-weight: 300;
}

@font-face{
    font-family: "Avenir";
    src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf"), format("embedded-opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf"), format("embedded-opentype");
    font-weight: 500;
}

@font-face {
    src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf"), format("embedded-opentype");
    font-family: "Avenir";
    font-weight: 600;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf"), format("embedded-opentype");
    font-weight: 700;
}

@font-face{
    font-family: "Avenir";
    src: url("../assets/Fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Heavy.otf"), format("embedded-opentype");
    font-weight: 800;
}


