@use "../../partials/colors.scss" as *;
@use "../../partials/typography.scss" as *;
@use "../../partials/mixins.scss" as *;
@use "../../partials/_variables.scss" as *;



.container{ 
    @include flex(center, center);
    background: $black;

    &__video{
        width: 100%;
        max-height: 50vh;

        @include tablet{
            max-height: 60vh;
        }

        @include desktop{
            max-height: 60vh;
        }
    }
}