@use "../../partials/colors.scss" as *;
@use "../../partials/typography.scss" as *;
@use "../../partials/mixins.scss" as *;
@use "../../partials/_variables.scss" as *;

.comment{
    @include flex(space-between, flex-start);
    border-bottom: 1px solid $mercury;
    margin: $margin;

    @include tablet{
        @include flex(flex-start, flex-start){
            margin: $margin $margin*3;
        }
    }
    @include desktop{
        margin: $margin*2 0 0 $margin;
        padding: 0 $padding*2 $padding*1.5 0;
    }

    &__avatar{
        min-width: 3rem;
        min-height: 3rem;
        background-color: $silver;
        border-radius: 50%;
        margin-right: $margin;

        @include tablet{
            margin-right: 0;
        }
        
    }
    &__container{
        width: 89%;
        @include tablet{
            max-width: 80%;
            padding-left: $padding;
        }

    }
    &__name-date{
        @include flex(space-between, center);
        @include tablet{
            @include flex(flex-start, center)
        } 
        @include desktop{
            @include flex(flex-start, center)
        }
    }
    &__name{
       font-size: .85rem;
       @include tablet{
           padding-right: $padding;
           font-size: 1rem;
           line-height: 1.5rem;
       } 
       @include desktop{
           padding-right: $padding;
       }
    }

    &__date{
        @include text-style(.75rem, 1.25rem);
        color: $silver;

        @include tablet{
            @include text-style(.825rem, 1.25rem)
        }
        @include desktop{
            @include text-style(.825rem, 1.25rem)
        }
    }

    &__text{
        @include text-style(.875rem, 1.125rem);
        padding: $padding 0;
        text-align: left;

        @include tablet{
            @include text-style(0.875rem,1.375rem);
        }
        @include desktop{
            @include text-style(0.875rem,1.375rem);
        }
    }
}








