@use "../../partials/mixins.scss" as * ;
@use "../../partials/variables" as *;
@use "../../partials/colors" as *;

.main{
    &__top{
        @include desktop{
        width: 100%;
        }
    }
    &__bottom{
        @include desktop{
            @include flex(center, flex-start){
                width: 90%;
            }
        }
        &-right{
            @include desktop{
                width: 60%;
                margin-left: 6rem;
                border-right: 1px solid $mercury;
            }
        }
        &-left{
            @include desktop{
                width: 30%;
            }
        }
    }
}
